* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Inter, Helvetica, Arial, sans-serif;
}

.navbar {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
}

.navbar a {
	text-decoration: none;
	color: #3A404E;
}

.navbar .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 32px;
	height: 44px;
	width: 100%;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 8px;
}

ul.paginas {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
	padding: 0px;
}

.navbar li {
	float: left;
}

.botoes {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	padding: 0px;
}

.botoes button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: 0px;
	padding: 10px 18px;
}

.entrar {
	background-color: white;
}

.cadastrar {
	background-color: #8E2424;
	border: 1px solid rgba(142, 36, 36, 1);
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	color: #FFFFFF;
}

.space {
	width: 142px;
}

